/* .home-div{
    margin-top: 50px;
    width: 75%;
    margin: 0 auto;  
    margin-bottom: 100px;  
    background: white;

} */

.portfolio-img{
    height:250px;
    border-radius: 50%;
}

.banner-text{
    /* background-color: white; */
    opacity: .8;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1{
    font-size: 50px;
    /* font-weight: bold; */
    color: black;
}

.banner-text hr{
    border-top: 5px dotted black;
    width: 60%;
    margin: auto;
}

.banner-text p {
    color: black;
    font-size: 20px;
    padding: 1em;
}

.home-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: white; */
    width: 75%;
    margin: 0 auto;
    margin-top: -30px;

  }
  .home-grid-item {
    /* background-color: white; */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;

  }

  .home-grid-item a{
      color: black;
  }
  .home-grid-item a:hover{
    transition-duration: 500ms;
      color: #009999;
  }
