.App {
  text-align: center;
  height: 100%;
}

body{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #009999, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #009999, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}